/*
    MANEJAR EL CAMBIO DE TEMA DE ESTA MANERA
*   :root[data-theme="theme-light"]
*   :root[data-theme="theme-dark"]
*/

:root {
    --background-color: $back-ground-lg;
    --background-color-top: $back-ground-top-lg;
    --card-background: $card-back-ground-lg;
    --card-background-hover: $card-background-hover-lg;
    --text-color-primary: $text-color-primary-lg;
    --text-color-sencondary: $text-color-sencondary-lg;
    --bg-theme-switcher :  $bg-theme-switcher;
    --circle-color: $circle-color-lg;
    --transition-speed: 600ms;
    font-size: 16px;
}

body.dark-theme {
    --background-color: $back-ground-dk;
    --background-color-top: $back-ground-top-dk;
    --card-background: $card-back-ground-dk;
    --card-background-hover: $card-background-hover-dk;
    --text-color-primary: $text-color-primary-dk;
    --text-color-sencondary: $text-color-sencondary-dk;
    --bg-theme-switcher : $bg-theme-switcher;
    --circle-color: $circle-color-dk;
    font-size: 16px;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(var(--background-color-top) 30%, var(--background-color) 30%);
    background-repeat: no-repeat;
    transition: all 2s ease;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}  

 
  
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      overflow: scroll;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      left: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
  